.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
}

.nav-item-hover {
  transition: all 0.3s ease-in-out;
  padding: 10px;
}

.nav-item-hover:hover {
  border: 2px solid #FFFFFE !important; 
  color:  #3B71CA !important; 
  background-color: #FFFFFE !important; 
}

.active-nav {
  border: 2px solid #3B71CA !important;
  background-color: white !important;
}